Streamlit==1.15.2
SpeechRecognition==3.9.0
streamlit-webrtc
setuptools
pyproject.toml
pipwin
PyAudio==0.2.11
pydub==0.25.1
dsound
PaAsio_GetAvailableLatencyValues    
PaAsio_ShowControlPanel             
PaUtil_InitializeX86PlainConverters 
PaAsio_GetInputChannelName          
PaAsio_GetOutputChannelName         
PaUtil_SetLogPrintFunction          
