Streamlit==1.15.2
SpeechRecognition==3.9.0
streamlit-webrtc
setuptools
pyproject.toml
pipwin
PyAudio==0.2.11
pydub==0.25.1
portaudio.h 
dsound
PaAsio_GetAvailableLatencyValues    @50
PaAsio_ShowControlPanel             @51
PaUtil_InitializeX86PlainConverters @52
PaAsio_GetInputChannelName          @53
PaAsio_GetOutputChannelName         @54
PaUtil_SetLogPrintFunction          @55
